.links-dropdown .Dropdown-menu {
  max-height: none !important;
  margin-top: 5px;
  overflow: inherit;
  border-radius: 6px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  width: auto;
  border: none;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.links-dropdown .Dropdown-menu .Dropdown-option {
  padding: 12px 20px 12px 10px;
  display: flex;
  border-left: 4px solid transparent;

  align-items: center;
}
.links-dropdown .active-link {
  border-top: 1px solid rgb(215 215 215);
  border-bottom: 1px solid rgb(215 215 215);
  /* position: relative; */
  box-shadow: 8px 0 0 0 #fff;
  border-left: 4px solid #09af2e !important;
}
.link-container .Dropdown-option i {
  position: absolute;
  right: 0px;
}
.links-dropdown .active-link i {
  display: none;
}
.links-dropdown .Dropdown-control {
  border-radius: 6px !important;
}
.select-child {
  width: 300px;
  padding: 8px 10px 10px 23px;
  text-align: left;
}
.select-parent {
  position: relative;
  border-right: 1px solid rgb(215 215 215);
  padding-top: 10px;
  min-width: 250px;
}
.relative-pos {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}
.absolute-links {
  display: none;
}
.active-link .absolute-links {
  width: 300px;
  box-sizing: border-box;
  display: block !important;
  padding: 18px 10px 10px 23px;
  top: 0px;
  background-color: white;
  width: 60vw;
  min-height: 400px;
  z-index: 9;
  box-shadow: rgba(3, 3, 3, 0.075) 1px 1px 0px 0px,
    rgba(14, 30, 37, 0.32) 8px -1px 11px 0px;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  position: absolute;
  margin-left: 237px;
}
.link-tag a {
  color: royalblue;
  margin-left: 8px;
  font-size: 16px;
}
.link-tag a:hover {
  text-decoration: underline !important;
}
.link-tag {
  font-size: 20px;
}
.links-fur {
  margin-top: 30px;
  display: flex;
  width: 100%;
  flex-direction: row;
}
.indiv-fur {
  width: 25%;
  display: flex;
  gap: 15px;
  flex-direction: column;
}
.indiv-fur a:hover {
  text-decoration: underline !important;
}
.fur-main {
  color: var(--text-color);
  font-weight: 17px;
  font-weight: bold;
}
.fur-sub {
  font-size: 15px;
  color: var(--text-color);
}
/* .select-parent .Dropdown-option:hover {
  border-top: 1px solid rgb(215 215 215);
  border-bottom: 1px solid rgb(215 215 215);
  position: relative;
  box-shadow: 8px 0 0 0 #fff;
  border-left: 4px solid #09af2e !important;
}
.links-dropdown .Dropdown-option:hover i {
  display: none;
} */

@media (max-width: 950px) {
  .links-dropdown .Dropdown-menu {
    position: static;
    box-shadow: none;
  }
  .active-link .absolute-links {
    box-sizing: border-box;
    display: block !important;
    padding: 18px 10px 10px 23px;

    width: 100%;
    background-color: transparent;
    min-height: 400px;

    box-shadow: none;
    position: static;
    margin-left: 0;
  }
  .links-dropdown .Dropdown-menu .Dropdown-option {
    flex-direction: column;
  }
  .select-parent {
    min-width: 100%;
  }
  .relative-pos {
    padding: 12px 0;
  }
}
@media (max-width: 550px) {
  .links-fur {
    flex-wrap: wrap;
  }
  .indiv-fur {
    width: 50%;
    margin: 15px 0;
  }
}
